/* Slide style */

.slide h1 {
  font-size: 62px;
  line-height: 62px;
}

.slide h2 {
  font-size: 36px;
  width: 100% !important;
}

.slide h3 {
  font-size: 30px;
}

.slide a,
.slide a:visited,
.slide a:link {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

.slide h1 a,
.slide h1 a:visited,
.slide h1 a:link {
  color: #263248;
  font-weight: normal;
  text-decoration: none;
}

.subsection h1 {
  background-color: #B6144D;
}


/* Default widths */
.slide h2,
.slide ul,
.slide code {
  width: 650px;
  margin: 0 auto;
}

.slide ul li {
  font-size: .9em;
}

.highlight {
  background-color: #ff0;
}

.big-headline h1,
.new-chapter h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
}

.new-chapter {
  background-color: #116DB6 !important;
  color: #FFF;
  width: 1024px !important;
}

/* Code font*/
.slide code,
.slide pre {
  font-family: Consolas,
    "Andale Mono",
    "Lucida Console",
    "Lucida Sans Typewriter",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Liberation Mono",
    "Nimbus Mono L",
    Monaco,
    "Courier New",
    Courier,
    monospace;
  color: #000;
  padding: 0.5em;
  font-size: 18px;
  background-color: transparent;
}

.slide pre {
  margin: 0 auto !important;
}

.slide code {
  font-size: 21px !important;
  text-align: left;
  display: block;
  border: 1px dashed #263248;
  background-color: #ddd;
  width: 700px !important;
}

.code-740 code {
  width: 740px;
}
